streamlit
openai
tiktoken
langchain-community
python-dotenv
langchain
faiss-cpu
PyPDF2
nltk
pandas
plotly
chromadb
streamlit-chromadb-connection
pysqlite3-binary
openai-whisper
pydub
ffmpeg-python
ffprobe